.blog {
	width: 80vw;
	margin: 0 auto;
	&__h1{
		color: $color;
	}
	&__p{
		color: gray;
		&__a{
			color: red;
		}
	}

	&__read-more{
		@include button;
		&--unavailable {
			@include button(gray);	
			cursor: not-allowed;
		}

	}
}